@media screen and (max-width: 576px) {

    .navContainer,
    .nav-right {
        flex-direction: column;
        justify-content: center;
        padding-top: 2rem;
        height: auto;
    }

    .header_description {
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 2rem;
        height: auto;
        width: auto;
    }

    .header_description1 .goat {
        font-size: 30px;
        flex-wrap: wrap;
    }

    .online_title {
        text-align: center;
        font-size: 1rem;
    }

    .online_description {
        text-align: center;
        font-size: 0.6rem;
        flex-wrap: wrap;
    }

    .Online_Videos {
        max-width: 1450px;
        min-height: 40vh;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        /* border: 1px solid black; */
    }


    .play_games {
        flex-direction: column;
        justify-content: center;
        padding-top: 2rem;
        height: auto;
    }

    .play_container .play_title {
        font-size: 1.7rem;
        font-weight: 900;
    }

    .play_games .play_description {
        padding-top: 20px;
        font-weight: 400;
        max-width: 1000px;
    }

    .play_img {
        padding-top: 20px;
        width: 50%;
        position: relative;

    }

    .play_img img {
        width: 90%;
    }

    .play_imgg img {
        position: absolute;
        width: 45%;
        height: 50%;
        right: 180px;
        top: 135px;
    }


.games_section{
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.game_mode img{
    max-width: 20px;
    height: 20px;
}
.game_mode{
    gap: 5px;
    padding: 3px;
}

.games_type p{
    font-size: 0.35rem;
}

.footer{
    display: flex;
    justify-content: center;
    height: 80vh;
}



.footer_link, .website_policy{
    flex-wrap: wrap;
}
.social_link{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 40px;
}
.footer_container{
    padding-top: 10vh;
    max-width: 400px;
    padding-bottom: 0.2vh;
    flex-wrap: wrap;

}


.footer_container .footer_img{
    padding-bottom: 4vh;
}

}


@media screen and (min-width: 577px) and (max-width: 992px) {

    .navContainer,
    .nav-right {
        flex-direction: column;
        justify-content: center;
        padding-top: 2rem;
        height: auto;
    }

    .header_description {
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 2rem;
        height: auto;
        width: auto;
    }

    .header_description1 .goat {
        font-size: 40px;
        flex-wrap: wrap;
    }

    .play_games {
        flex-direction: column;
        justify-content: center;
        padding-top: 2rem;
        height: auto;
    }

    .play_container .play_title {
        font-size: 1.7rem;
        font-weight: 900;
    }

    .play_games .play_description {
        padding-top: 20px;
        font-weight: 400;
        max-width: 1000px;
    }

    .play_img {
        padding-top: 20px;
        width: 50%;
        position: relative;

    }

    .play_img img {
        width: 85%;
    }

    .play_imgg img {
        position: absolute;
        width: 45%;
        height: 50%;
        right: 240px;
        top: 200px;
    }


    .games_section{
        /* margin: 0 auto; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .game_mode img{
        max-width: 20px;
        height: 20px;
    }
    .game_mode{
        gap: 5px;
        padding: 3px;
    }
    
    .games_type p{
        font-size: 0.35rem;
    }
    

}